@import "variables";

header {
  grid-area: header;
  height: 80px;
  background-color: $primary-color;
  color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  @media (max-width: 768px) {
    justify-content: space-around;
    position: fixed;
    min-width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    padding: 0;
  }

  .headmenu {
    @media (max-width: 768px) {
      display: block;
      margin: 0;
      cursor: pointer;
    }
    display: none;
  }

  div {
    @media (max-width: 768px) {
      scale: 0.7;
      justify-content: space-between;
    }
    display: flex;

    align-items: center;

    span {
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      padding-left: 18px;
    }
    span:hover {
      cursor: pointer;
    }
  }
}
